<div class="about row">
	<div class="about-ttile">
		<h1>ABOUT</h1>
	</div>
	<div class="about-text">
		<p>
			栄養士による、栄養士の情報交換サイト。<br>
			各小学校の献立を見ることができます。<br>
			是非さままな学校の献立を自校の給食に取り入れてみてはいかがでしょうか？<br>
			多くの児童に多くの献立が届きますように・・・★<br>
		</p>
	</div>
</div>

