<div class="service-title">
	<h2>会員登録でこんなことができる！</h2>
</div>


<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<div class="service-image">
			<div class="service-text">
				<h4>気軽に閲覧、検索、投稿！あなただけのお気に入り一覧！</h4>
				<p>
					<i class="far fa-check-square"></i>　献立を投稿しましょう<br>
					<i class="far fa-check-square"></i>　お気に入りの献立を簡単保存<br>
					<i class="far fa-check-square"></i>　主食や主菜を簡単検索<br>
				</p>
			</div>
		</div>
	</div>
	<div class="service-button col-xs-12">
		<%= link_to "今すぐに新規登録！", new_school_registration_path, class:"btn btn-success" %>
	</div>
</div>