<div class="menu-list-title">
	<h2>献立一覧　<i class="fas fa-list-ul"></i></h2>
</div>


<% if @search_menus %>
	<%= render 'menu', menus: @search_menus %>
	<%= paginate @search_menus %>
<% else %>
	<%= render 'menu', menus: @menus %>
	<%= paginate @menus %>
<% end %>


