<div class="row">
	<div class="contents">
		<h4>管理者トップページ</h4>
		<ul>
			<li><%= link_to "投稿一覧", admin_menus_path %>を確認する</li>
			<li><%= link_to "会員一覧", admin_schools_path %>を確認する</li>
			<li><%= link_to "ジャンル設定", admin_genres_path %>を行う</li>
			<li><%= link_to "お問い合わせ", admin_contacts_path %>を確認する</li>
		</ul>
	</div>
</div>